h3{
	text-align: center;
	font-family: 'verdana';
	font-size: 20px;
	color: white;
	margin-top: 0px;
	margin-bottom: 2%;
}

.card{
	width: 94%;
	height: 94%;
	margin-left: 3%;
	margin-top: 3%;
	overflow-y: scroll;
	border-radius: 5px;
}

.lblGEquipo{
	font-family: 'verdana';
	color: white;
	font-size: 19px;
}

.match{
	width: 95%;
	height: 35%;
	margin-left: 2.5%;
	margin-top: 4%;
}

.tituloMatch{
	width: 100%;
	height: 40%;
	text-align: center;
	font-family: 'verdana';
	font-size: 13px;
}

.matchInfo{
	width: 100%;
	height: 60%;
	text-align: center;
}

.lblFechaGroup{
	color: rgba(0,0,0,.7);
}

.lblStadiumGroup{
	color: rgba(0,0,0,.5);
}

.tblMatch{
	width: 100%;
}

.banderaGroup{
	width: 80%;
}

.marcadorGroup{
	height: 30px;
	background-color: white;
	border: 1px black solid;
	width: 85%;
	margin-left: 7.5%;
}

.tdGroup{
	height: 100%;
}

.tdHead{
	width: 15%;
}

.banderaHead{
	width: 75%;
	margin-top: 15%;
	/*float: right;*/
}

.spnMarcador{
	padding-top: 7px;
}

.tblHead{
	border-collapse: collapse;
	width: 95%;
	margin-left: 2.5%;
}

.lblG1Impar{
	/*color: rgb(151,216,255);*/
	color: white;
}

.lblG1Par{
	/*color: rgb(0,88,139);*/
	color: black;
}

.trG1Impar{
	background-color: rgb(0,88,139);
}

.trG1Par{
	background-color: rgb(151,216,255);
}

.trG2Impar{
	background-color: rgb(145,0,35);
}

.trG2Par{
	background-color: rgb(249,141,156);
}

.lblG3Impar{
	/*color: rgb(151,216,255);*/
	color: white;
}

.lblG3Par{
	/*color: rgb(0,88,139);*/
	color: black;
}

.trG3Impar{
	background-color: rgb(2,114,98);
}

.trG3Par{
	background-color: rgb(154,233,214);
}

.trG4Impar{
	background-color: rgb(63,16,94);
}

.trG4Par{
	background-color: rgb(184,131,209);
}

/* Titulo y Match Grupos */
.titulo1{
	background-color: rgb(162,220,240);
}

.titulo2{
	background-color: rgb(249,141,156);
}

.titulo3{
	background-color: rgb(154,232,216);
}

.titulo4{
	background-color: rgb(184,131,209);
}

.match1{
	background-color: rgb(207,237,247);
}

.match2{
	background-color: rgb(255,195,203);
}

.match3{
	background-color: rgb(204,244,235);
}

.match4{
	background-color: rgb(219,190,234);
}