/* Direct References */
html, body{
	height: 100%;
	width: 100%;
	margin: 0px;
}

/* Classes */

.columnPlayoffs{
	width: 20%;
	height: 100%;
	position: absolute;
}

.lblFecha{
	color: #505050;
}

.lblMarcador{
	vertical-align: middle;
}

/* IDs */

#divMain{
	width: 100%; height: 100%;
	background-image: url('background.jpg');
	background-size: 100%;
}

#divGroupes{
	position: absolute;
	background-color: red;
	width: 99%;
	height: 40%;
	margin-left: .5%;
	margin-top: .5%;
}

#divPlayoffs{
	position: absolute;
	width: 99%;
	height: 57%;
	margin-left: .5%;
	margin-top: 20.5%;
}

/* Playoffs Columns */
#divSemis1{
	margin-left: 20%;
}

#divFinals{
	margin-left: 40%;
}

#divSemis2{
	margin-left: 60%;
}

#divQuarters2{
	margin-left: 80%;
}

#lblVs{
	margin-bottom: 30%;
}
